In [98]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [99]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN'], axis=1)

In [100]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()\
[application_df['APPLICATION_TYPE'].value_counts() > cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34023
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [101]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [102]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_greater1 = classification_counts[classification_counts > 1]
print(classification_greater1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [53]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 500
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = classification_greater1[classification_greater1 < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [103]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
optimized_dummies = pd.get_dummies(application_df)
optimized_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [109]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = optimized_dummies.drop(columns=['IS_SUCCESSFUL'], axis=1)
y = optimized_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 45)

In [110]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [111]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = X_train.shape[1]


nn = tf.keras.models.Sequential()


# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation='relu', input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))



# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_67 (Dense)            (None, 30)                590340

 dense_68 (Dense)            (None, 20)                620

 dense_69 (Dense)            (None, 10)                210

 dense_70 (Dense)            (None, 1)                 11

=================================================================
Total params: 591181 (2.26 MB)
Trainable params: 591181 (2.26 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [112]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [113]:
optimized_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 5s 5ms/step - loss: 0.5053 - accuracy: 0.7578
Epoch 2/100
858/858 [==============================] - 4s 5ms/step - loss: 0.1857 - accuracy: 0.9273
Epoch 3/100
858/858 [==============================] - 4s 5ms/step - loss: 0.1027 - accuracy: 0.9589
Epoch 4/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0974 - accuracy: 0.9609
Epoch 5/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0945 - accuracy: 0.9618
Epoch 6/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0921 - accuracy: 0.9621
Epoch 7/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0917 - accuracy: 0.9623
Epoch 8/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0909 - accuracy: 0.9618
Epoch 9/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0906 - accuracy: 0.9628
Epoch 10/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0897 - accuracy: 0.9626
Epoch 11/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0893 - accuracy: 0.9633
Epoch 12/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0886 - accuracy: 0.9630
Epoch 13/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0881 - accuracy: 0.9633
Epoch 14/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0876 - accuracy: 0.9633
Epoch 15/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0873 - accuracy: 0.9638
Epoch 16/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0873 - accuracy: 0.9634
Epoch 17/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0863 - accuracy: 0.9643
Epoch 18/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0860 - accuracy: 0.9643
Epoch 19/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0853 - accuracy: 0.9651
Epoch 20/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0853 - accuracy: 0.9643
Epoch 21/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0845 - accuracy: 0.9653
Epoch 22/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0849 - accuracy: 0.9653
Epoch 23/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0842 - accuracy: 0.9652
Epoch 24/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0837 - accuracy: 0.9646
Epoch 25/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0834 - accuracy: 0.9651
Epoch 26/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0830 - accuracy: 0.9653
Epoch 27/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0830 - accuracy: 0.9656
Epoch 28/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0821 - accuracy: 0.9656
Epoch 29/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0823 - accuracy: 0.9659
Epoch 30/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0825 - accuracy: 0.9659
Epoch 31/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0819 - accuracy: 0.9661
Epoch 32/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0814 - accuracy: 0.9668
Epoch 33/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0813 - accuracy: 0.9663
Epoch 34/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0812 - accuracy: 0.9667
Epoch 35/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0811 - accuracy: 0.9668
Epoch 36/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0807 - accuracy: 0.9668
Epoch 37/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0808 - accuracy: 0.9666
Epoch 38/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0800 - accuracy: 0.9667
Epoch 39/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0807 - accuracy: 0.9665
Epoch 40/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0800 - accuracy: 0.9665
Epoch 41/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0802 - accuracy: 0.9666
Epoch 42/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0799 - accuracy: 0.9669
Epoch 43/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0796 - accuracy: 0.9671
Epoch 44/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0793 - accuracy: 0.9675
Epoch 45/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0790 - accuracy: 0.9671
Epoch 46/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0793 - accuracy: 0.9674
Epoch 47/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0793 - accuracy: 0.9672
Epoch 48/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0789 - accuracy: 0.9675
Epoch 49/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0788 - accuracy: 0.9671
Epoch 50/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0789 - accuracy: 0.9673
Epoch 51/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0789 - accuracy: 0.9678
Epoch 52/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0784 - accuracy: 0.9674
Epoch 53/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0785 - accuracy: 0.9680
Epoch 54/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0780 - accuracy: 0.9679
Epoch 55/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0783 - accuracy: 0.9679
Epoch 56/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0785 - accuracy: 0.9673
Epoch 57/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0781 - accuracy: 0.9685
Epoch 58/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0781 - accuracy: 0.9681
Epoch 59/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0779 - accuracy: 0.9682
Epoch 60/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0779 - accuracy: 0.9679
Epoch 61/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0778 - accuracy: 0.9679
Epoch 62/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0779 - accuracy: 0.9679
Epoch 63/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0776 - accuracy: 0.9680
Epoch 64/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0778 - accuracy: 0.9682
Epoch 65/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0776 - accuracy: 0.9680
Epoch 66/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0776 - accuracy: 0.9683
Epoch 67/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0776 - accuracy: 0.9681
Epoch 68/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0779 - accuracy: 0.9680
Epoch 69/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0772 - accuracy: 0.9684
Epoch 70/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0773 - accuracy: 0.9682
Epoch 71/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0770 - accuracy: 0.9684
Epoch 72/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0773 - accuracy: 0.9679
Epoch 73/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0770 - accuracy: 0.9682
Epoch 74/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0770 - accuracy: 0.9687
Epoch 75/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0770 - accuracy: 0.9687
Epoch 76/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0769 - accuracy: 0.9681
Epoch 77/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0772 - accuracy: 0.9681
Epoch 78/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0769 - accuracy: 0.9679
Epoch 79/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0768 - accuracy: 0.9684
Epoch 80/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0769 - accuracy: 0.9680
Epoch 81/100

858/858 [==============================] - 4s 4ms/step - loss: 0.0769 - accuracy: 0.9682
Epoch 82/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0764 - accuracy: 0.9684
Epoch 83/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0766 - accuracy: 0.9681
Epoch 84/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0766 - accuracy: 0.9681
Epoch 85/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0768 - accuracy: 0.9682
Epoch 86/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0766 - accuracy: 0.9681
Epoch 87/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0767 - accuracy: 0.9684
Epoch 88/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0768 - accuracy: 0.9683
Epoch 89/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0765 - accuracy: 0.9684
Epoch 90/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0763 - accuracy: 0.9683
Epoch 91/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0767 - accuracy: 0.9679
Epoch 92/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0763 - accuracy: 0.9683
Epoch 93/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0766 - accuracy: 0.9681
Epoch 94/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0762 - accuracy: 0.9681
Epoch 95/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0760 - accuracy: 0.9684
Epoch 96/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0763 - accuracy: 0.9681
Epoch 97/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0764 - accuracy: 0.9686
Epoch 98/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0759 - accuracy: 0.9686
Epoch 99/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0760 - accuracy: 0.9684
Epoch 100/100
858/858 [==============================] - 4s 5ms/step - loss: 0.0761 - accuracy: 0.9684

In [115]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6623 - accuracy: 0.7652 - 377ms/epoch - 2ms/step
Loss: 0.66231369972229, Accuracy: 0.765160322189331